<header class="l-header">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="clearfix">

                    <div class="row">
                        <div class="col-md-4">
                            <a data-ui-sref="home" class="branding pull-left" title="Food & Nutrition" translate="PAGE_TITLE"></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right pull-right">
                <div username-box logged="logged" name="fullName" isAdmin="isUserAdministrator" placement="bottom"></div>
            </div>
        </div>
        <hr/>
    </div>
    <login-box></login-box>
</header>
