<header class="l-header">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="clearfix">

                    <div class="row">
                        <div class="col-md-4">
                            <a data-ui-sref="home" class="branding pull-left" title="Food & Nutrition" translate="PAGE_TITLE"></a>
                        </div>
                        <search-box />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
