.nav-tabs {
  margin-left: 18px;

  & li {
    float: left;
    margin-bottom: 0;
  }

  & > li.active > a,
  & > li.active > a:hover,
  & > li.active > a:focus {
    color: $green;
    font-weight: bolder;
    background-color: $white;
    margin-bottom: -1px;
    margin-left: 18px;
  }

  & > li > a,
  & > li > a:hover,
  & > li > a:focus {
    color: $green !important;
    background-color: $white;
    border: 0;
  }

  & > li > a {
    padding: 10px 5px !important;
  }
}

section.general {

  & > div > div > div.row.associate_form {
    margin-left: 28px;
    margin-bottom: 30px;

    & > form > div.line-separator{
       margin-top: 5px;
    }

    & > form > div > div > input#short_name {
      width: 300px;
      background-color: $green-light;
      border-color: $green-light;
      color: $green;
      font-weight: bolder;
      font-style: italic;

      &::-webkit-input-placeholder {
        color: $green;
      }
      &:-moz-placeholder {
        color: $green;
      }
      &::-moz-placeholder {
        color: $green;
      }
      &:-ms-input-placeholder {
        color: $green;
      }
    }
  }

  & > div > div > div.row.administrator-header{

      & div.col-md-8 > h3{
        margin-left: 28px;
      }

      & div.col-md-12 > h3{
        margin-left: 28px;
      }
  }
}
.widget-body{
  padding-left:25px;
}

h3.food-header{
  margin-left:26px;

  & > ul{
    margin-left:20px;
    border-left: solid 1px #eaeaea;
  }

  & ul > li:first-child{
    margin-left:10px;
  }

  & > ul > li > a{
    color:$green;
    font-size:14px;
    font-weight:bolder;
    cursor: pointer;
  }
}

h5.subtitle{
  margin-top:5px;
  font-size:18px;
}

/* custom inclusion of right, left and below tabs */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}


.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: solid 2px #ddd!important;

  & >li:first-child{
    margin-top:10px;
  }

  & .active > a,
  & .active > a:hover,
  & .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    margin-right:-2px;
  }


  & > li.active > a,
  & > li.active > a:hover,
  & > li.active > a:focus {
    color: #666;
    font-weight: bolder;
    background-color: $white;
    margin-bottom: 10px;
  }

  & > li {
    float: none;

    & > a{
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      margin-left:-10px;
      padding-right:30px;
      color:#666!important;
    }

    & > a:hover , & >  a:focus{
      border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }
  }
}

div.tab-pane.active > div.container > h5{
  position:relative;
  width:40%;
  margin-left:200px;
  margin-top:18px;
}

div.tab-pane.active > div.container > div.well{
  position:relative;
  width:40%;
  margin-left:200px;
  border-radius:0;
  border:0;
}

div.tab-pane.active > div.container > form.form-horizontal > div.small-field > div.form-group{
  position: relative;
}

div.tab-pane.active > div.container > form.form-horizontal > div.small-field > div.form-group.form-group-normalize{
  margin-bottom:0;
  padding-bottom:0;
}





