.nav-tabs {
  margin-left: 18px;

  & li {
    float: left;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  & > li.active > a,
  & > li.active > a:hover,
  & > li.active > a:focus {
    color: $gray-fonts!important;
    font-weight: bolder;
    background-color: $white;
    margin-bottom: -1px;
    margin-left: 18px;
  }

  & > li > a,
  & > li > a:hover,
  & > li > a:focus {
    color:$green !important;
    background-color: $white;
    border: 0;
    margin-left: 16px;
  }

  & > li > a {
    padding: 10px 5px !important;
  }
}

section.general {

  & > div > div > div.row.associate_form {
    margin-left: 28px;
    margin-bottom: 30px;

    & > form > div.line-separator{
       margin-top: 5px;
    }

    & > form > div > div > input#short_name {
      width: 300px;
      background-color: $green-light;
      border-color: $green-light;
      color: $green;
      font-weight: bolder;
      font-style: italic;

      &::-webkit-input-placeholder {
        color: $green;
      }
      &:-moz-placeholder {
        color: $green;
      }
      &::-moz-placeholder {
        color: $green;
      }
      &:-ms-input-placeholder {
        color: $green;
      }
    }
  }

  & > div > div > div.row.administrator-header{

      & div.col-md-8 > h3{
        margin-left: 28px;
      }

      & div.col-md-12 > h3{
        margin-left: 28px;
      }
  }
}
.widget-body{
  padding-left:25px;
}

h3.food-header{
  margin-left:26px;

  & > ul{
    margin-left:20px;
    border-left: solid 1px #eaeaea;
  }

  & ul > li:first-child{
    margin-left:10px;
  }

  & > ul > li > a{
    color:$green;
    font-size:14px;
    font-weight:bolder;
    cursor: pointer;
  }
}

div.tab-pane.active{
  & > h5{
    margin-top:15px;
  }

  & > div.well{
    border-radius:0;
    border:0;
  }
}


.tabs-left-side-container{
  padding:0
}

.tabs-left-side-container-mul{
  padding:0;
  margin-right: 10px;
}

.tabs-left{
  margin-left: 0!important;
  border-bottom: none;
  padding-top: 8px;
  border-right: 1px solid #ddd;

  & >li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px;

    & >a {
      border-radius: 4px 0 0 4px;
      margin-right: 1px;
      display:block;
      color:#666!important;
    }
  }

  & >li.active>a,
  & >li.active>a:hover,
  & >li.active>a:focus {
    border-bottom-color: #ddd;
    margin-left:0;
    border-right: solid 1px #fff;
    margin-right:-1px;
    color:#666!important;
    padding-left: 15px!important;
  }
}