<section class="l-main">

    <section class="page-content">

        <div class="container">
            <div class="row">
                <div class="col-md-12" style="height: 100px;">&nbsp;</div>
                <div class="col-md-12"><strong><h2 class="text-center">{{ 'WELCOME_MESSAGE' | translate }}</strong></h2></div>
                <div class="col-md-12"><h3 class="text-center">{{ 'TRY_SEARCH' | translate }}</h3></div>
                <div class="col-md-12" style="height: 80px;">&nbsp;</div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div align="center">
                        <form class="form-inline" ng-submit="search()">
                            <div class="form-group">
                                <div align="left" class="form-group" style="width: 450px;">
                                    <angucomplete-alt id="search-home"
                                                      placeholder="{{ 'SEARCH' | translate }}"
                                                      pause="150"
                                                      selected-object="searchSelectedFn"
                                                      remote-api-handler="searchAutocomplete"
                                                      title-field="name"
                                                      text-no-results="{{ 'NO_RESULTS_FOUND' | translate }}"
                                                      minlength="0"
                                                      input-changed="inputChangedFn"
                                                      input-class="form-control"/>
                                </div>
                                <div class="form-group" style="width: 250px;">
                                    <select select-wrap ng-model="searchType">
                                        <option value="collection" selected>{{ 'FOOD_COMPOSITION' | translate }}</option>
                                        <option value="institution">{{ 'RECIPES' | translate }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="cursor: pointer"><i style="color: #fff" class="fa fa-search"></i><strong>{{ 'SEARCH' | translate }}</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12" style="height: 100px;">&nbsp;</div>
                <div class="col-md-12"><h5 class="text-center"><i>{{ 'NEW_RECIPE_IDEA' | translate }}</i>&nbsp;
                    <a href="#">{{'CLICK_HERE_TO_ADD' | translate}}</a></h5></div>
                <div class="col-md-12" style="height: 100px;">&nbsp;</div>
            </div>
        </div>

    </section>

</section>
