<div class="row">
    <div ui-tab class="col-md-4">
        <ul class="nav nav-tabs tabs-left">
            <li><a href="#h21" data-toggle="tab">{{'CARBOHYDRATES' | translate}}</a></li>
            <li><a href="#h22" data-toggle="tab">{{'FIBRE' | translate}}</a></li>
            <li><a href="#h23" data-toggle="tab">{{'SUGARS' | translate}}</a></li>
            <li><a href="#h24" data-toggle="tab">{{'POLYSACCHARIDES' | translate}}</a></li>
            <li><a href="#h25" data-toggle="tab">{{'POLYOLS' | translate}}</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content">

            <!-- CARBOHYDRATES TAB -->
            <div class="tab-pane" id="h21">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[carbohydrate.name] != null" ng-repeat="carbohydrate in carbohydrates._embedded.nutrientTypes">
                                <a href="#h21{{ carbohydrate.name }}" data-toggle="tab">{{ carbohydrate.name | translate}}&nbsp;({{carbohydrate.unit | translate}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="carbohydrate in carbohydrates._embedded.nutrientTypes" class="tab-pane" id="h21{{ carbohydrate.name }}" on-finish-render="ngRepeatFinished">
                                <energy-macronutrients-item nutrient="food" key="carbohydrate.name"></energy-macronutrients-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FIBRE TAB -->
            <div class="tab-pane" id="h22">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[fibre.name] != null" ng-repeat="fibre in carbohydrates_fibre._embedded.nutrientTypes">
                                <a href="#h22{{ fibre.name }}" data-toggle="tab">{{ fibre.name | translate}}&nbsp;({{fibre.unit | translate}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="fibre in carbohydrates_fibre._embedded.nutrientTypes" class="tab-pane" id="h22{{ fibre.name }}" on-finish-render="ngRepeatFinished">
                                <energy-macronutrients-item nutrient="food" key="fibre.name"></energy-macronutrients-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SUGARS TAB -->
            <div class="tab-pane" id="h23">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[sugar.name] != null" ng-repeat="sugar in carbohydrates_sugars._embedded.nutrientTypes">
                                <a href="#h23{{ sugar.name }}" data-toggle="tab">{{ sugar.name | translate}}&nbsp;({{sugar.unit | translate}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="sugar in carbohydrates_sugars._embedded.nutrientTypes" class="tab-pane" id="h23{{ sugar.name }}" on-finish-render="ngRepeatFinished">
                                <energy-macronutrients-item nutrient="food" key="sugar.name"></energy-macronutrients-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- POLYSACCHARIDES TAB -->
            <div class="tab-pane" id="h24">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[poly.name] != null" ng-repeat="poly in carbohydrates_poly._embedded.nutrientTypes">
                                <a href="#h24{{ poly.name }}" data-toggle="tab">{{ poly.name | translate}}&nbsp;({{poly.unit | translate}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="poly in carbohydrates_poly._embedded.nutrientTypes" class="tab-pane" id="h24{{ poly.name }}" on-finish-render="ngRepeatFinished">
                                <energy-macronutrients-item nutrient="food" key="poly.name"></energy-macronutrients-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- POLYOLS TAB -->
            <div class="tab-pane" id="h25">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[polyols.name] != null" ng-repeat="polyols in carbohydrates_polyols._embedded.nutrientTypes">
                                <a href="#h25{{ polyols.name }}" data-toggle="tab">{{ polyols.name | translate}}&nbsp;({{polyols.unit | translate}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="polyols in carbohydrates_polyols._embedded.nutrientTypes" class="tab-pane" id="h25{{ polyols.name }}" on-finish-render="ngRepeatFinished">
                                <energy-macronutrients-item nutrient="food" key="polyols.name"></energy-macronutrients-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>