<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'ENERGY_MACRONUTRIENTS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div ui-tab class="col-xs-2 tabs-left-side-container">
                <ul class="nav nav-tabs tabs-left">
                    <li class="active"><a href="#a2" data-toggle="tab">{{'ENERGY' | translate}}</a></li>
                    <li><a href="#b2" data-toggle="tab">{{'SUM_PROXIMATE' | translate}}</a></li>
                    <li><a href="#c2" data-toggle="tab">{{'WATER' | translate}}</a></li>
                    <li><a href="#d2" data-toggle="tab">{{'ASH' | translate}}</a></li>
                    <li><a href="#e2" data-toggle="tab">{{'ALCOHOL' | translate}}</a></li>
                    <li><a href="#f2" data-toggle="tab">{{'PROTEIN' | translate}}</a></li>
                    <li><a href="#g2" data-toggle="tab">{{'LIPIDS' | translate}}</a></li>
                    <li><a href="#h2" data-toggle="tab">{{'CARBOHYDRATES' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-xs-10">
                <div class="tab-content">
                    <div class="tab-pane active" id="a2"><energy-macronutrients-item nutrient="food" key="ENERGY" edit-form></energy-macronutrients-item></div>
                    <div class="tab-pane" id="b2"><energy-macronutrients-item nutrient="food" key="SUM_PROXIMATES" edit-form></energy-macronutrients-item></div>
                    <div class="tab-pane" id="c2"><energy-macronutrients-item nutrient="food" key="WATER" edit-form></energy-macronutrients-item></div>
                    <div class="tab-pane" id="d2"><energy-macronutrients-item nutrient="food" key="ASH" edit-form></energy-macronutrients-item></div>
                    <div class="tab-pane" id="e2"><energy-macronutrients-item nutrient="food" key="ALCOHOL" edit-form></energy-macronutrients-item></div>
                    <div class="tab-pane" id="f2" include-layout="views/food/protein.nutrient.tab.tpl.html"></div>
                    <div class="tab-pane" id="g2" include-layout="views/food/lipids.nutrient.tab.tpl.html"></div>
                    <div class="tab-pane" id="h2"><energy-macronutrients-item nutrient="food" key="CARBOHYDRATES" edit-form></energy-macronutrients-item></div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

