<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'ENERGY_MACRONUTRIENTS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div class="col-xs-2 tabs-left-side-container">
                <ul class="nav nav-tabs tabs-left">
                    <li><a href="#a" data-toggle="tab">{{'ENERGY' | translate}}</a></li>
                    <li><a href="#b" data-toggle="tab">{{'SUM_PROXIMATE' | translate}}</a></li>
                    <li class="active"><a href="#c" data-toggle="tab">{{'WATER' | translate}}</a></li>
                    <li><a href="#d" data-toggle="tab">{{'ASH' | translate}}</a></li>
                    <li><a href="#e" data-toggle="tab">{{'PROTEIN' | translate}}</a></li>
                    <li><a href="#f" data-toggle="tab">{{'LIPIDS' | translate}}</a></li>
                    <li><a href="#g" data-toggle="tab">{{'CARBOHYDRATES' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-xs-9">

                    <div class="tab-pane" id="a"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                    <div class="tab-pane" id="b"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                    <div class="tab-pane" id="c"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                    <div class="tab-pane" id="d"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                    <div class="tab-pane" id="e"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                    <div class="tab-pane" id="f"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                    <div class="tab-pane" id="g"><energy-macronutrients-item energy="food" key="density"></energy-macronutrients-item></div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

