<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4><strong>{{'FOOD_NAME_DESCRIPTION' | translate}}</strong></h4>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <form class="form-horizontal form-block view-mode">
                    <div class="small-field">
                        <div class="form-group">
                            <label for="int_food_name" class="col-sm-3 control-label">{{ 'FOOD_NAME' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" id="int_food_name" value="Red Guava">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="int_food_source" class="col-sm-3 control-label">{{ 'FOOD_SOURCE' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" id="int_food_source" value="-">
                            </div>
                        </div>

                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label"><em>{{ 'OTHER_COMMON_NAMES' | translate}}</em></label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="Common name origin">
                            </div>
                        </div>
                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Araca</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="Maranhao">
                            </div>
                        </div>
                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Red Guava</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="Para">
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'PART_OF_PLANT_ANIMAL' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Peel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'MANUFACTURER' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="-">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'FOOD_PROCESSING' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Dry">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'PRESERVATION_METHOD' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Frozen">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'DEGREE_OF_COOKING' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Raw">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'AGRICULTURAL_PRODUCTION_CONDICTION' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Organic">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'MATURITY_OR_RIPENESS' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Ripe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'STORAGE_CONDICTION' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Loren">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'GRADE' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Loren">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'CONTAINER_OR_CONTACT_SURFACE' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Loren">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'PHYSICAL_STATE' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Solid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'SHAPE_OF_FORM' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Solid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'COLOUR' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Solid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'OTHER' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="Solid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'LIST_OF_INGREDIENTS' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>

                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label"><em>{{ 'INGREDIENTS' | translate}}</em></label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="{{ 'AMOUNT_G' | translate}}">
                            </div>
                        </div>
                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Covallis elementum</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="100">
                            </div>
                        </div>

                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Covallis elementum</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="100">
                            </div>
                        </div>
                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Covallis elementum</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="100">
                            </div>
                        </div>
                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Covallis elementum</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="100">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ 'RECIPE_PROCEDURE' | translate}}</label>

                            <div class="col-sm-10 col-value">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group form-item-line">
                            <label class="col-sm-5 control-label">Covallis elementum</label>

                            <div class="col-sm-5 col-value">
                                <input type="text" class="form-control"  value="100">
                            </div>
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
