<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'GENERAL_ANALYSIS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div class="col-xs-3">
                <ul class="nav nav-tabs tabs-left">
                    <li class="active"><a href="#a" data-toggle="tab">{{'DENSITY' | translate}}</a></li>
                    <li><a href="#b" data-toggle="tab">Edible portion coefficient</a></li>
                    <li><a href="#c" data-toggle="tab">pH</a></li>
                    <li><a href="#d" data-toggle="tab">Total Soluble Solid</a></li>
                    <li><a href="#e" data-toggle="tab">Food Size(unit)</a></li>
                    <li><a href="#f" data-toggle="tab">Food weight(unit)</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="a">

                        <div>
                            <h5><strong>{{'DENSITY' | translate}}</strong></h5>

                            <div class="well"><strong>126</strong>gl</div>

                            <form class="form-horizontal form-block view-mode">
                                <div class="small-field">

                                    <div class="form-group form-group-normalize">
                                        <div class="col-sm-10">
                                            <h5 class="form-control-static">{{ 'VALUE_DOCUMENTATION' | translate}}</h5>
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'VALUE' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="126">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'UNIT' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="millimeter">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'MATRIX_UNIT' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="Dolo">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'VALUE_TYPE' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="Loren">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'ACQUISITION_TYPE' |
                                            translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="Dolo">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'METHOD_TYPE' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="loren">
                                        </div>
                                    </div>

                                    <div class="form-group form-group-normalize">
                                        <div class="col-sm-10">
                                            <h5 class="form-control-static">{{ 'STATISTICS' | translate}}</h5>
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'STANDARD_DEVIATION' |
                                            translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="1457">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'STANDARD_ERROR' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="4578">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'MINIMUM' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="145">
                                        </div>
                                    </div>

                                    <div class="form-group form-group-normalize">
                                        <label class="col-sm-4 control-label">{{ 'MAXIMUM' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="7569">
                                        </div>
                                    </div>

                                    <div class="form-group form-group-normalize">
                                        <div class="col-sm-10">
                                            <h5 class="form-control-static">{{ 'DATES' | translate}}</h5>
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'YEAR_OF_GENERATION' |
                                            translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="2015">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'DATE_OF_ENTRY' | translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="29-02-2015">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{ 'DATE_OF_VALIDATION' |
                                            translate}}</label>

                                        <div class="col-sm-10 col-value">
                                            <input type="text" class="form-control" value="29-10-2015">
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>


                    </div>
                    <div class="tab-pane" id="b">&nbsp;</div>
                    <div class="tab-pane" id="c">&nbsp;</div>
                    <div class="tab-pane" id="d">&nbsp;</div>
                    <div class="tab-pane" id="e">&nbsp;</div>
                    <div class="tab-pane" id="f">&nbsp;</div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

