<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'GENERAL_ANALYSIS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div ui-tab class="col-xs-2 tabs-left-side-container">
                <ul class="nav nav-tabs tabs-left">
                    <li class="active"><a href="#a1" data-toggle="tab">{{'DENSITY' | translate}}</a></li>
                    <li><a href="#b1" data-toggle="tab">{{'EDIBLE_PORTION' | translate}}</a></li>
                    <li><a href="#c1" data-toggle="tab">{{'PH' | translate}}</a></li>
                    <li><a href="#d1" data-toggle="tab">{{'SOLID_SOLUBLE' | translate}}</a></li>
                    <li><a href="#e1" data-toggle="tab">{{'FOOD_SIZE' | translate}} (unit)</a></li>
                    <li><a href="#f1" data-toggle="tab">{{'FOOD_WEIGHT' | translate}} (unit)</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="a1"><general-analysis-item analysis="food" key="density" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="b1"><general-analysis-item analysis="food" key="ediblePortion" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="c1"><general-analysis-item analysis="food" key="pH" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="d1"><general-analysis-item analysis="food" key="solidSoluble" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="e1"><general-analysis-item analysis="food" key="foodSize" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="f1"><general-analysis-item analysis="food" key="foodWeight" edit-form></general-analysis-item></div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

