<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'GENERAL_INFORMATION' | translate}}</strong></h4>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-5">
                <form action="#" class="form-block view-mode" role="form">
                    <div class="small-field">
                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'FOOD_GROUP' | translate }} *</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="Fruit"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'FOOD_TYPE' | translate }} *</label>
                            <div class="col-sm-7"><input type="text" class="form-control" value="Lorem"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'TAXON_RANK' | translate }}</label>
                            <div class="col-sm-7"><input type="text" class="form-control" value="Species"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'SCIENTIFIC_NAME' | translate }}</label>
                            <div class="col-sm-7"><input type="text" class="form-control" value="Psidium cattleianum Sabine"></div>
                        </div>

                        <div class="form-group form-group-normalize">
                            <label class="col-sm-5" style="text-align: right;">{{ 'NOTES' | translate }}</label>
                            <div class="col-sm-7">&nbsp;</div>
                        </div>
                        <div class="row form-group-row">
                                <div class="line-separator">
                                    <div class="side-line"></div>
                                    <div class="triangle"></div>
                                    <div class="side-line"></div>
                                </div>
                            <textarea type="text" class="form-control">Covallis elementum</textarea>
                            <hr/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="cover-photo">
                    <images-box title="Add new Photo" images="food.images"></images-box>
                </div>
            </div>
            <div class="col-md-12" style="height: 100px;">&nbsp;</div>
        </div>
    </div>
</section>
