<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'GENERAL_ANALYSIS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div ui-tab class="col-xs-2 tabs-left-side-container">
                <ul class="nav nav-tabs tabs-left">
                    <li class="active"><a href="#a" data-toggle="tab">{{'DENSITY' | translate}}</a></li>
                    <li><a href="#b" data-toggle="tab">Edible portion coefficient</a></li>
                    <li><a href="#c" data-toggle="tab">pH</a></li>
                    <li><a href="#d" data-toggle="tab">Total Soluble Solid</a></li>
                    <li><a href="#e" data-toggle="tab">Food Size(unit)</a></li>
                    <li><a href="#f" data-toggle="tab">Food weight(unit)</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="a"><general-analysis-item analysis="food" key="density" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="b"><general-analysis-item analysis="food" key="ediblePortion" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="c"><general-analysis-item analysis="food" key="pH" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="d"><general-analysis-item analysis="food" key="solidSoluble" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="e"><general-analysis-item analysis="food" key="foodSize" edit-form></general-analysis-item></div>
                    <div class="tab-pane" id="f"><general-analysis-item analysis="food" key="foodWeight" edit-form></general-analysis-item></div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

