<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'GENERAL_INFORMATION' | translate}}</strong></h4>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-5">
                <form action="#" class="form-block form-data view-mode" role="form" novalidate>
                    <div class="small-field">
                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'FOOD_GROUP' | translate }} *</label>
                            <div class="col-sm-8">
                                <select select-wrap class="form-control" data-ng-model="food.foodGroup">
                                    <option ng-repeat="fg in foodGroup._embedded.foodGroups" value="{{ fg.name }}" selected>{{ fg.name | translate }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'FOOD_TYPE' | translate }} *</label>
                            <div class="col-sm-7">
                                <select select-wrap class="form-control" data-ng-model="food.foodType">
                                    <option ng-repeat="ft in foodType._embedded.foodTypes" value="{{ ft.name }}" selected>{{ ft.name | translate }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'TAXON_RANK' | translate }}</label>
                            <div class="col-sm-7"><input type="text" class="form-control" data-ng-model="food.taxonRank"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5" style="text-align: right;">{{ 'SCIENTIFIC_NAME' | translate }}</label>
                            <div class="col-sm-7"><input type="text" class="form-control" data-ng-model="food.scientificName"></div>
                        </div>

                        <div class="form-group form-group-normalize">
                            <label class="col-sm-5" style="text-align: right;">{{ 'NOTES' | translate }}</label>
                            <div class="col-sm-7">&nbsp;</div>
                        </div>
                        <div class="row form-group-row">
                                <div class="line-separator">
                                    <div class="side-line"></div>
                                    <div class="triangle"></div>
                                    <div class="side-line"></div>
                                </div>
                            <textarea type="text" class="form-control" data-ng-model="food.notes"></textarea>
                            <hr/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="cover-photo">
                    <images-box title="Add new Photo" images="food.images"></images-box>
                </div>
            </div>
            <div class="col-md-12" style="height: 100px;">&nbsp;</div>
        </div>
    </div>
</section>
