<div class="row">
    <div ui-tab class="col-md-4">
        <ul class="nav nav-tabs tabs-left">
            <li><a href="#g21" data-toggle="tab">{{'FATTY_ACIDS_TOTALS' | translate}}</a></li>
            <li><a href="#g22" data-toggle="tab">{{'SATURATED' | translate}}</a></li>
            <li><a href="#g23" data-toggle="tab">{{'MONOUNSATURATED' | translate}}</a></li>
            <li><a href="#g24" data-toggle="tab">{{'POLYUNSATURATED' | translate}}</a></li>
            <li><a href="#g25" data-toggle="tab">{{'FAT_COMPONENTS' | translate}}</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content">

            <!-- FATTY_ACIDS_TOTALS TAB -->
            <div class="tab-pane" id="g21">
                <div class="row">
                    <div ui-tab class="col-xs-4">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#g211" data-toggle="tab">{{'FACID' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g212" data-toggle="tab">{{'FASAT' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g213" data-toggle="tab">{{'FAMS' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g214" data-toggle="tab">{{'FAPU' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g215" data-toggle="tab">{{'FATRN' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g216" data-toggle="tab">{{'FAPUN9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g217" data-toggle="tab">{{'FAPUN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g218" data-toggle="tab">{{'FAN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g219" data-toggle="tab">{{'FAN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2110" data-toggle="tab">{{'FAFRE' | translate}}&nbsp;(g)</a></li>

                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div class="tab-pane" id="g211"><energy-macronutrients-item nutrient="food" key="FACID"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g212"><energy-macronutrients-item nutrient="food" key="FASAT"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g213"><energy-macronutrients-item nutrient="food" key="FAMS"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g214"><energy-macronutrients-item nutrient="food" key="FAPU"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g215"><energy-macronutrients-item nutrient="food" key="FATRN"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g216"><energy-macronutrients-item nutrient="food" key="FAPUN9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g217"><energy-macronutrients-item nutrient="food" key="FAPUN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g218"><energy-macronutrients-item nutrient="food" key="FAN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g219"><energy-macronutrients-item nutrient="food" key="FAN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2110"><energy-macronutrients-item nutrient="food" key="FAFRE"></energy-macronutrients-item></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SATURATED TAB -->
            <div class="tab-pane" id="g22">
                <div class="row">
                    <div ui-tab class="col-xs-4">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#g221" data-toggle="tab">{{'F4D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g222" data-toggle="tab">{{'F6D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g223" data-toggle="tab">{{'F8D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g224" data-toggle="tab">{{'F10D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g225" data-toggle="tab">{{'F11D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g226" data-toggle="tab">{{'F12D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g227" data-toggle="tab">{{'F13D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g228" data-toggle="tab">{{'F13D0i' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g229" data-toggle="tab">{{'F14D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2210" data-toggle="tab">{{'F14D0I' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2211" data-toggle="tab">{{'F15D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2212" data-toggle="tab">{{'F15D0I' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2213" data-toggle="tab">{{'F15D0AI' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2214" data-toggle="tab">{{'F16D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2215" data-toggle="tab">{{'F16D0I' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2216" data-toggle="tab">{{'F16D0AI' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2217" data-toggle="tab">{{'F17D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2218" data-toggle="tab">{{'F17D0I' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2219" data-toggle="tab">{{'F17D0AI' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2220" data-toggle="tab">{{'F18D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2221" data-toggle="tab">{{'F18D0I' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2222" data-toggle="tab">{{'F18D0AI' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2223" data-toggle="tab">{{'F19D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2224" data-toggle="tab">{{'F20D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2225" data-toggle="tab">{{'F21D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2226" data-toggle="tab">{{'F22D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2227" data-toggle="tab">{{'F23D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2228" data-toggle="tab">{{'F24D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2229" data-toggle="tab">{{'F26D0' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2230" data-toggle="tab">{{'F30D0' | translate}}&nbsp;(g)</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div class="tab-pane" id="g221"><energy-macronutrients-item nutrient="food" key="F4D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g222"><energy-macronutrients-item nutrient="food" key="F6D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g223"><energy-macronutrients-item nutrient="food" key="F8D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g224"><energy-macronutrients-item nutrient="food" key="F10D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g225"><energy-macronutrients-item nutrient="food" key="F11D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g226"><energy-macronutrients-item nutrient="food" key="F12D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g227"><energy-macronutrients-item nutrient="food" key="F13D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g228"><energy-macronutrients-item nutrient="food" key="F13D0i"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g229"><energy-macronutrients-item nutrient="food" key="F14D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2210"><energy-macronutrients-item nutrient="food" key="F14D0I"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2211"><energy-macronutrients-item nutrient="food" key="F15D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2212"><energy-macronutrients-item nutrient="food" key="F15D0I"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2213"><energy-macronutrients-item nutrient="food" key="F15D0AI"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2214"><energy-macronutrients-item nutrient="food" key="F16D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2215"><energy-macronutrients-item nutrient="food" key="F16D0I"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2216"><energy-macronutrients-item nutrient="food" key="F16D0AI"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2217"><energy-macronutrients-item nutrient="food" key="F17D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2218"><energy-macronutrients-item nutrient="food" key="F17D0I"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2219"><energy-macronutrients-item nutrient="food" key="F17D0AI"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2220"><energy-macronutrients-item nutrient="food" key="F18D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2221"><energy-macronutrients-item nutrient="food" key="F18D0I"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2222"><energy-macronutrients-item nutrient="food" key="F18D0AI"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2223"><energy-macronutrients-item nutrient="food" key="F19D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2224"><energy-macronutrients-item nutrient="food" key="F20D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2225"><energy-macronutrients-item nutrient="food" key="F21D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2226"><energy-macronutrients-item nutrient="food" key="F22D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2227"><energy-macronutrients-item nutrient="food" key="F23D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2228"><energy-macronutrients-item nutrient="food" key="F24D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2229"><energy-macronutrients-item nutrient="food" key="F26D0"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2230"><energy-macronutrients-item nutrient="food" key="F30D0"></energy-macronutrients-item></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- MONOUNSATURATED TAB -->
            <div class="tab-pane" id="g23">
                <div class="row">
                    <div ui-tab class="col-xs-4">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#g231" data-toggle="tab">{{'F10D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g232" data-toggle="tab">{{'F12D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g233" data-toggle="tab">{{'F14D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g234" data-toggle="tab">{{'F14D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g235" data-toggle="tab">{{'F14D1CN5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g236" data-toggle="tab">{{'F14D1N5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g237" data-toggle="tab">{{'F14D1T' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g238" data-toggle="tab">{{'F14D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g239" data-toggle="tab">{{'F15D1N10' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2310" data-toggle="tab">{{'F15D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2311" data-toggle="tab">{{'F15D1N8' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2312" data-toggle="tab">{{'F15D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2313" data-toggle="tab">{{'F15D1N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2314" data-toggle="tab">{{'F15D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2315" data-toggle="tab">{{'F16D1N11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2316" data-toggle="tab">{{'F16D1CN9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2317" data-toggle="tab">{{'F16D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2318" data-toggle="tab">{{'F16D1N8' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2319" data-toggle="tab">{{'F16D1CN7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2320" data-toggle="tab">{{'F16D1TN7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2321" data-toggle="tab">{{'F16D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2322" data-toggle="tab">{{'F16D1N5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2323" data-toggle="tab">{{'F16D1C' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2324" data-toggle="tab">{{'F16D1T' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2325" data-toggle="tab">{{'F16D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2326" data-toggle="tab">{{'F17D1N10' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2327" data-toggle="tab">{{'F17D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2328" data-toggle="tab">{{'F17D1CN8' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2329" data-toggle="tab">{{'F17D1N8' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2330" data-toggle="tab">{{'F17D1CN7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2331" data-toggle="tab">{{'F17D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2332" data-toggle="tab">{{'F17D1N5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2333" data-toggle="tab">{{'F17D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2334" data-toggle="tab">{{'F18D1CN11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2335" data-toggle="tab">{{'F18D1TN11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2336" data-toggle="tab">{{'F18D1N11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2337" data-toggle="tab">{{'F18D1CN9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2338" data-toggle="tab">{{'F18D1TN9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2339" data-toggle="tab">{{'F18D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2340" data-toggle="tab">{{'F18D1TN8' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2341" data-toggle="tab">{{'F18D1CN7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2342" data-toggle="tab">{{'F18D1TN7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2343" data-toggle="tab">{{'F18D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2344" data-toggle="tab">{{'F18D1CN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2345" data-toggle="tab">{{'F18D1TN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2346" data-toggle="tab">{{'F18D1CN5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2347" data-toggle="tab">{{'F18D1N5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2348" data-toggle="tab">{{'F18D1CN4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2349" data-toggle="tab">{{'F18D1CN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2350" data-toggle="tab">{{'F18D1TN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2351" data-toggle="tab">{{'F18D1TN2' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2352" data-toggle="tab">{{'F18D1C' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2353" data-toggle="tab">{{'F18D1T' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2354" data-toggle="tab">{{'F18D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2355" data-toggle="tab">{{'F19D1N11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2356" data-toggle="tab">{{'F19D1N10' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2357" data-toggle="tab">{{'F20D1N12' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2358" data-toggle="tab">{{'F20D1CN11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2359" data-toggle="tab">{{'F20D1N11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2360" data-toggle="tab">{{'F20D1CN9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2361" data-toggle="tab">{{'F20D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2362" data-toggle="tab">{{'F20D1N8' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2363" data-toggle="tab">{{'F20D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2364" data-toggle="tab">{{'F20D1T' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2365" data-toggle="tab">{{'F20D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2366" data-toggle="tab">{{'F22D1N11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2367" data-toggle="tab">{{'F22D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2368" data-toggle="tab">{{'F22D1N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2369" data-toggle="tab">{{'F22D1T' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2370" data-toggle="tab">{{'F22D1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2371" data-toggle="tab">{{'F24D1N11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2372" data-toggle="tab">{{'F24D1CN9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2373" data-toggle="tab">{{'F24D1N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2374" data-toggle="tab">{{'F24D1' | translate}}&nbsp;(g)</a></li>


                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div class="tab-pane" id="g231"><energy-macronutrients-item nutrient="food" key="F10D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g232"><energy-macronutrients-item nutrient="food" key="F12D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g233"><energy-macronutrients-item nutrient="food" key="F14D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g234"><energy-macronutrients-item nutrient="food" key="F14D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g235"><energy-macronutrients-item nutrient="food" key="F14D1CN5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g236"><energy-macronutrients-item nutrient="food" key="F14D1N5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g237"><energy-macronutrients-item nutrient="food" key="F14D1T"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g238"><energy-macronutrients-item nutrient="food" key="F14D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g239"><energy-macronutrients-item nutrient="food" key="F15D1N10"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2310"><energy-macronutrients-item nutrient="food" key="F15D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2311"><energy-macronutrients-item nutrient="food" key="F15D1N8"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2312"><energy-macronutrients-item nutrient="food" key="F15D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2313"><energy-macronutrients-item nutrient="food" key="F15D1N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2314"><energy-macronutrients-item nutrient="food" key="F15D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2315"><energy-macronutrients-item nutrient="food" key="F16D1N11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2316"><energy-macronutrients-item nutrient="food" key="F16D1CN9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2317"><energy-macronutrients-item nutrient="food" key="F16D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2318"><energy-macronutrients-item nutrient="food" key="F16D1N8"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2319"><energy-macronutrients-item nutrient="food" key="F16D1CN7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2320"><energy-macronutrients-item nutrient="food" key="F16D1TN7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2321"><energy-macronutrients-item nutrient="food" key="F16D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2322"><energy-macronutrients-item nutrient="food" key="F16D1N5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2323"><energy-macronutrients-item nutrient="food" key="F16D1C"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2324"><energy-macronutrients-item nutrient="food" key="F16D1T"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2325"><energy-macronutrients-item nutrient="food" key="F16D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2326"><energy-macronutrients-item nutrient="food" key="F17D1N10"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2327"><energy-macronutrients-item nutrient="food" key="F17D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2328"><energy-macronutrients-item nutrient="food" key="F17D1CN8"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2329"><energy-macronutrients-item nutrient="food" key="F17D1N8"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2330"><energy-macronutrients-item nutrient="food" key="F17D1CN7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2331"><energy-macronutrients-item nutrient="food" key="F17D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2332"><energy-macronutrients-item nutrient="food" key="F17D1N5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2333"><energy-macronutrients-item nutrient="food" key="F17D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2334"><energy-macronutrients-item nutrient="food" key="F18D1CN11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2335"><energy-macronutrients-item nutrient="food" key="F18D1TN11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2336"><energy-macronutrients-item nutrient="food" key="F18D1N11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2337"><energy-macronutrients-item nutrient="food" key="F18D1CN9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2338"><energy-macronutrients-item nutrient="food" key="F18D1TN9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2339"><energy-macronutrients-item nutrient="food" key="F18D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2340"><energy-macronutrients-item nutrient="food" key="F18D1TN8"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2341"><energy-macronutrients-item nutrient="food" key="F18D1CN7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2342"><energy-macronutrients-item nutrient="food" key="F18D1TN7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2343"><energy-macronutrients-item nutrient="food" key="F18D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2344"><energy-macronutrients-item nutrient="food" key="F18D1CN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2345"><energy-macronutrients-item nutrient="food" key="F18D1TN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2346"><energy-macronutrients-item nutrient="food" key="F18D1CN5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2347"><energy-macronutrients-item nutrient="food" key="F18D1N5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2348"><energy-macronutrients-item nutrient="food" key="F18D1CN4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2349"><energy-macronutrients-item nutrient="food" key="F18D1CN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2350"><energy-macronutrients-item nutrient="food" key="F18D1TN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2351"><energy-macronutrients-item nutrient="food" key="F18D1TN2"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2352"><energy-macronutrients-item nutrient="food" key="F18D1C"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2353"><energy-macronutrients-item nutrient="food" key="F18D1T"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2354"><energy-macronutrients-item nutrient="food" key="F18D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2355"><energy-macronutrients-item nutrient="food" key="F19D1N11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2356"><energy-macronutrients-item nutrient="food" key="F19D1N10"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2357"><energy-macronutrients-item nutrient="food" key="F20D1N12"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2358"><energy-macronutrients-item nutrient="food" key="F20D1CN11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2359"><energy-macronutrients-item nutrient="food" key="F20D1N11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2360"><energy-macronutrients-item nutrient="food" key="F20D1CN9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2361"><energy-macronutrients-item nutrient="food" key="F20D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2362"><energy-macronutrients-item nutrient="food" key="F20D1N8"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2363"><energy-macronutrients-item nutrient="food" key="F20D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2364"><energy-macronutrients-item nutrient="food" key="F20D1T"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2365"><energy-macronutrients-item nutrient="food" key="F20D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2366"><energy-macronutrients-item nutrient="food" key="F22D1N11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2367"><energy-macronutrients-item nutrient="food" key="F22D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2368"><energy-macronutrients-item nutrient="food" key="F22D1N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2369"><energy-macronutrients-item nutrient="food" key="F22D1T"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2370"><energy-macronutrients-item nutrient="food" key="F22D1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2371"><energy-macronutrients-item nutrient="food" key="F24D1N11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2372"><energy-macronutrients-item nutrient="food" key="F24D1CN9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2373"><energy-macronutrients-item nutrient="food" key="F24D1N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2374"><energy-macronutrients-item nutrient="food" key="F24D1"></energy-macronutrients-item></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- POLYUNSATURATED TAB -->
            <div class="tab-pane" id="g24">
                <div class="row">
                    <div ui-tab class="col-xs-4">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#g241" data-toggle="tab">{{'F16D2N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g242" data-toggle="tab">{{'F16D2N7' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g243" data-toggle="tab">{{'F16D2N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g244" data-toggle="tab">{{'F16D2N4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g245" data-toggle="tab">{{'F16D2' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g246" data-toggle="tab">{{'F17D2' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g247" data-toggle="tab">{{'F18D2C9T11' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g248" data-toggle="tab">{{'F18D2T10C12' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g249" data-toggle="tab">{{'F18D2TCON' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2410" data-toggle="tab">{{'F18D2TTN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2411" data-toggle="tab">{{'F18D2CN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2412" data-toggle="tab">{{'F18D2TN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2413" data-toggle="tab">{{'F18D2N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2414" data-toggle="tab">{{'F18D2N5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2415" data-toggle="tab">{{'F18D2N4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2416" data-toggle="tab">{{'F18D2' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2417" data-toggle="tab">{{'F20D2N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2418" data-toggle="tab">{{'F20D2CN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2419" data-toggle="tab">{{'F20D2N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2420" data-toggle="tab">{{'F20D2C' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2421" data-toggle="tab">{{'F20D2' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2422" data-toggle="tab">{{'F22D2N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2423" data-toggle="tab">{{'F22D2CN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2424" data-toggle="tab">{{'F22D2N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2425" data-toggle="tab">{{'F22D2C' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2426" data-toggle="tab">{{'F22D2' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2427" data-toggle="tab">{{'F16D3N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2428" data-toggle="tab">{{'F16D3N4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2429" data-toggle="tab">{{'F16D3N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2430" data-toggle="tab">{{'F18D3CN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2431" data-toggle="tab">{{'F18D3N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2432" data-toggle="tab">{{'F18D3N4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2433" data-toggle="tab">{{'F18D3CN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2434" data-toggle="tab">{{'F18D3TN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2435" data-toggle="tab">{{'F18D3N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2436" data-toggle="tab">{{'F18D3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2437" data-toggle="tab">{{'F20D3N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2438" data-toggle="tab">{{'F20D3N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2439" data-toggle="tab">{{'F20D3N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2440" data-toggle="tab">{{'F20D3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2441" data-toggle="tab">{{'F22D3N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2442" data-toggle="tab">{{'F22D3N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2443" data-toggle="tab">{{'F16D4N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2444" data-toggle="tab">{{'F16D4N1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2445" data-toggle="tab">{{'F16D4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2446" data-toggle="tab">{{'F18D4N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2447" data-toggle="tab">{{'F18D4CN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2448" data-toggle="tab">{{'F18D4N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2449" data-toggle="tab">{{'F18D4N1' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2450" data-toggle="tab">{{'F18D4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2451" data-toggle="tab">{{'F20D4CN6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2452" data-toggle="tab">{{'F20D4N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2453" data-toggle="tab">{{'F20D4N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2454" data-toggle="tab">{{'F20D4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2455" data-toggle="tab">{{'F22D4N9' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2456" data-toggle="tab">{{'F22D4N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2457" data-toggle="tab">{{'F22D4N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2458" data-toggle="tab">{{'F22D4' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2459" data-toggle="tab">{{'F20D5CN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2460" data-toggle="tab">{{'F20D5N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2461" data-toggle="tab">{{'F20D5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2462" data-toggle="tab">{{'F21D5N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2463" data-toggle="tab">{{'F22D5N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2464" data-toggle="tab">{{'F22D5N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2465" data-toggle="tab">{{'F22D5' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2466" data-toggle="tab">{{'F22D6N6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2467" data-toggle="tab">{{'F22D6CN3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2468" data-toggle="tab">{{'F22D6N3' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2469" data-toggle="tab">{{'F22D6' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g2470" data-toggle="tab">{{'F24D6N3' | translate}}&nbsp;(g)</a></li>

                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div class="tab-pane" id="g241"><energy-macronutrients-item nutrient="food" key="F16D2N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g242"><energy-macronutrients-item nutrient="food" key="F16D2N7"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g243"><energy-macronutrients-item nutrient="food" key="F16D2N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g244"><energy-macronutrients-item nutrient="food" key="F16D2N4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g245"><energy-macronutrients-item nutrient="food" key="F16D2"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g246"><energy-macronutrients-item nutrient="food" key="F17D2"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g247"><energy-macronutrients-item nutrient="food" key="F18D2C9T11"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g248"><energy-macronutrients-item nutrient="food" key="F18D2T10C12"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g249"><energy-macronutrients-item nutrient="food" key="F18D2TCON"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2410"><energy-macronutrients-item nutrient="food" key="F18D2TTN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2411"><energy-macronutrients-item nutrient="food" key="F18D2CN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2412"><energy-macronutrients-item nutrient="food" key="F18D2TN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2413"><energy-macronutrients-item nutrient="food" key="F18D2N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2414"><energy-macronutrients-item nutrient="food" key="F18D2N5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2415"><energy-macronutrients-item nutrient="food" key="F18D2N4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2416"><energy-macronutrients-item nutrient="food" key="F18D2"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2417"><energy-macronutrients-item nutrient="food" key="F20D2N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2418"><energy-macronutrients-item nutrient="food" key="F20D2CN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2419"><energy-macronutrients-item nutrient="food" key="F20D2N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2420"><energy-macronutrients-item nutrient="food" key="F20D2C"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2421"><energy-macronutrients-item nutrient="food" key="F20D2"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2422"><energy-macronutrients-item nutrient="food" key="F22D2N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2423"><energy-macronutrients-item nutrient="food" key="F22D2CN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2424"><energy-macronutrients-item nutrient="food" key="F22D2N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2425"><energy-macronutrients-item nutrient="food" key="F22D2C"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2426"><energy-macronutrients-item nutrient="food" key="F22D2"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2427"><energy-macronutrients-item nutrient="food" key="F16D3N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2428"><energy-macronutrients-item nutrient="food" key="F16D3N4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2429"><energy-macronutrients-item nutrient="food" key="F16D3N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2430"><energy-macronutrients-item nutrient="food" key="F18D3CN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2431"><energy-macronutrients-item nutrient="food" key="F18D3N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2432"><energy-macronutrients-item nutrient="food" key="F18D3N4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2433"><energy-macronutrients-item nutrient="food" key="F18D3CN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2434"><energy-macronutrients-item nutrient="food" key="F18D3TN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2435"><energy-macronutrients-item nutrient="food" key="F18D3N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2436"><energy-macronutrients-item nutrient="food" key="F18D3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2437"><energy-macronutrients-item nutrient="food" key="F20D3N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2438"><energy-macronutrients-item nutrient="food" key="F20D3N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2439"><energy-macronutrients-item nutrient="food" key="F20D3N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2440"><energy-macronutrients-item nutrient="food" key="F20D3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2441"><energy-macronutrients-item nutrient="food" key="F22D3N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2442"><energy-macronutrients-item nutrient="food" key="F22D3N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2443"><energy-macronutrients-item nutrient="food" key="F16D4N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2444"><energy-macronutrients-item nutrient="food" key="F16D4N1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2445"><energy-macronutrients-item nutrient="food" key="F16D4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2446"><energy-macronutrients-item nutrient="food" key="F18D4N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2447"><energy-macronutrients-item nutrient="food" key="F18D4CN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2448"><energy-macronutrients-item nutrient="food" key="F18D4N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2459"><energy-macronutrients-item nutrient="food" key="F18D4N1"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2450"><energy-macronutrients-item nutrient="food" key="F18D4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2451"><energy-macronutrients-item nutrient="food" key="F20D4CN6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2452"><energy-macronutrients-item nutrient="food" key="F20D4N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2453"><energy-macronutrients-item nutrient="food" key="F20D4N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2454"><energy-macronutrients-item nutrient="food" key="F20D4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2455"><energy-macronutrients-item nutrient="food" key="F22D4N9"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2456"><energy-macronutrients-item nutrient="food" key="F22D4N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2457"><energy-macronutrients-item nutrient="food" key="F22D4N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2458"><energy-macronutrients-item nutrient="food" key="F22D4"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2469"><energy-macronutrients-item nutrient="food" key="F20D5CN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2460"><energy-macronutrients-item nutrient="food" key="F20D5N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2461"><energy-macronutrients-item nutrient="food" key="F20D5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2462"><energy-macronutrients-item nutrient="food" key="F21D5N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2463"><energy-macronutrients-item nutrient="food" key="F22D5N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2464"><energy-macronutrients-item nutrient="food" key="F22D5N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2465"><energy-macronutrients-item nutrient="food" key="F22D5"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2466"><energy-macronutrients-item nutrient="food" key="F22D6N6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2467"><energy-macronutrients-item nutrient="food" key="F22D6CN3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2468"><energy-macronutrients-item nutrient="food" key="F22D6N3"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2469"><energy-macronutrients-item nutrient="food" key="F22D6"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g2470"><energy-macronutrients-item nutrient="food" key="F24D6N3"></energy-macronutrients-item></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- FAT_COMPONENTS TAB -->
            <div class="tab-pane" id="g25">
                <div class="row">
                    <div ui-tab class="col-xs-4">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#g251" data-toggle="tab">{{'TGLY' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g252" data-toggle="tab">{{'DGLY' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g253" data-toggle="tab">{{'MGLY' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g254" data-toggle="tab">{{'GLYLIP' | translate}}&nbsp;(g)</a></li>
                            <li><a href="#g255" data-toggle="tab">{{'PHOLIP' | translate}}&nbsp;(g)</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div class="tab-pane" id="g251"><energy-macronutrients-item nutrient="food" key="TGLY"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g252"><energy-macronutrients-item nutrient="food" key="DGLY"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g253"><energy-macronutrients-item nutrient="food" key="MGLY"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g254"><energy-macronutrients-item nutrient="food" key="GLYLIP"></energy-macronutrients-item></div>
                            <div class="tab-pane" id="g255"><energy-macronutrients-item nutrient="food" key="PHOLIP"></energy-macronutrients-item></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
     </div>
</div>