<div class="row">
    <div ui-tab class="col-md-4">
        <ul class="nav nav-tabs tabs-left">
            <li><a href="#g21" data-toggle="tab">{{'FATTY_ACIDS_TOTALS' | translate}}</a></li>
            <li><a href="#g22" data-toggle="tab">{{'SATURATED' | translate}}</a></li>
            <li><a href="#g23" data-toggle="tab">{{'MONOUNSATURATED' | translate}}</a></li>
            <li><a href="#g24" data-toggle="tab">{{'POLYUNSATURATED' | translate}}</a></li>
            <li><a href="#g25" data-toggle="tab">{{'FAT_COMPONENTS' | translate}}</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content">

            <!-- FATTY_ACIDS_TOTALS TAB -->
            <div class="tab-pane" id="g21">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[fatty.name] != null" ng-repeat="fatty in fatty_acids._embedded.nutrientTypes">
                                <a href="#g21{{ fatty.name }}" data-toggle="tab">{{ fatty.name | translate}}&nbsp;({{fatty.unit | translate}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="fatty in fatty_acids._embedded.nutrientTypes" class="tab-pane" id="g21{{ fatty.name }}" on-finish-render="ngRepeatFinished">
                                <nutrient-item nutrient="food" key="fatty.name"></nutrient-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SATURATED TAB -->
            <div class="tab-pane" id="g22">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="saturated.nutrients[saturated.name] != null" ng-repeat="saturated in saturated._embedded.nutrientTypes">
                                <a href="#g22{{ saturated.name }}" data-toggle="tab">{{ saturated.name | translate}}&nbsp;({{saturated.unit}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="saturated in saturated._embedded.nutrientTypes" class="tab-pane" id="g22{{ saturated.name }}" on-finish-render="ngRepeatFinished">
                                <nutrient-item nutrient="food" key="saturated.name"></nutrient-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MONOUNSATURATED TAB -->
            <div class="tab-pane" id="g23">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[monosaturated.name] != null" ng-repeat="monosaturated in monosaturated._embedded.nutrientTypes">
                                <a href="#g23{{ monosaturated.name }}" data-toggle="tab">{{ monosaturated.name | translate}}&nbsp;({{monosaturated.unit}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="monosaturated in monosaturated._embedded.nutrientTypes" class="tab-pane" id="g23{{ monosaturated.name }}" on-finish-render="ngRepeatFinished">
                                <nutrient-item nutrient="food" key="monosaturated.name"></nutrient-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- POLYUNSATURATED TAB -->
            <div class="tab-pane" id="g24">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[polyunsaturated.name] != null" ng-repeat="polyunsaturated in polyunsaturated._embedded.nutrientTypes">
                                <a href="#g24{{ polyunsaturated.name }}" data-toggle="tab">{{ polyunsaturated.name | translate}}&nbsp;({{polyunsaturated.unit}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="polyunsaturated in polyunsaturated._embedded.nutrientTypes" class="tab-pane" id="g24{{ polyunsaturated.name }}" on-finish-render="ngRepeatFinished">
                                <nutrient-item nutrient="food" key="polyunsaturated.name"></nutrient-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAT_COMPONENTS TAB -->
            <div class="tab-pane" id="g25">
                <div class="row">
                    <div class="col-xs-4 ui-tab">
                        <ul class="nav nav-tabs tabs-left">
                            <li ng-show="food.nutrients[fat.name] != null" ng-repeat="fat in fat_components._embedded.nutrientTypes">
                                <a href="#g25{{ fat.name }}" data-toggle="tab">{{ fat.name | translate}}&nbsp;({{fat.unit}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <div class="tab-content">
                            <div ng-repeat="fat in fat_components._embedded.nutrientTypes" class="tab-pane" id="g25{{ fat.name }}" on-finish-render="ngRepeatFinished">
                                <nutrient-item nutrient="food" key="fat.name"></nutrient-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>