<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'MICRONUTRIENTS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div ui-tab class="col-xs-2 tabs-left-side-container-mul">
                <ul class="nav nav-tabs tabs-left">
                    <li><a href="#a3" data-toggle="tab">{{'MINERALS_AND_TRACE_ELEMENTS' | translate}}</a></li>
                    <li><a href="#b3" data-toggle="tab">{{'VITAMINS' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content">
                    <div class="tab-pane" id="a3" include-layout="views/food/minerals.tab.tpl.html"></div>
                    <div class="tab-pane" id="b3" include-layout="views/food/vitamins.tab.tpl.html"></div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

