<section class="widget-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>{{'MICRONUTRIENTS' | translate}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <!-- tabs left -->
            <div ui-tab class="col-xs-2 tabs-left-side-container-mul">
                <ul class="nav nav-tabs tabs-left">
                    <li><a href="#a3" data-toggle="tab">{{'MINERALS_AND_TRACE_ELEMENTS' | translate}}</a></li>
                    <li><a href="#b3" data-toggle="tab">{{'VITAMINS' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content">
                    <div class="tab-pane" id="a3"></div>
                    <div class="tab-pane" id="b3">
                        <div ui-tab class="col-xs-2 tabs-left-side-container-mul">
                            <ul class="nav nav-tabs tabs-left">
                                <li><a href="#a4" data-toggle="tab">{{'VITAMINS_A_AND_CAROTENOIDS' | translate}}</a></li>
                                <li><a href="#b4" data-toggle="tab">{{'VITAMIN_E' | translate}}</a></li>
                                <li><a>{{'VITAMIN_D' | translate}}</a></li>
                                <li><a>{{'VITAMIN_K' | translate}}</a></li>
                                <li><a>{{'THIAMIN_B1' | translate}}</a></li>
                                <li><a>{{'RIBOFLAVIN_B2' | translate}}</a></li>
                                <li><a>{{'NIACILIN' | translate}}</a></li>
                                <li><a>{{'FOLATE' | translate}}</a></li>
                                <li><a>{{'PANTHOTANIC_ACID' | translate}}</a></li>
                                <li><a>{{'VITAMIN_B6' | translate}}</a></li>
                                <li><a>{{'VITAMIN_B12' | translate}}</a></li>
                                <li><a>{{'BIOTIN' | translate}}</a></li>
                                <li><a>{{'VITAMIN_C' | translate}}</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-9">
                            <div class="tab-content">
                                <div class="tab-pane" id="a4">
                                    <div class="col-xs-2 tabs-left-side-container-mul">
                                        <div class="col-xs-2 tabs-left-side-container-mul">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li><a>{{'VITA_RAE' | translate}}(mg)</a></li>
                                                <li><a>{{'VITA' | translate}}(mg)</a></li>
                                                <li><a>{{'RETOL' | translate}}(mg)</a></li>
                                                <li><a>{{'VITAACT' | translate}}(mg)</a></li>
                                                <li><a>{{'VITA-' | translate}}(mg)</a></li>
                                                <li><a>{{'CARTOID' | translate}}(mg)</a></li>
                                                <li><a>{{'ANTHX' | translate}}(mg)</a></li>
                                                <li><a>{{'ATX' | translate}}(mg)</a></li>
                                                <li><a>{{'CAROT' | translate}}(mg)</a></li>
                                                <li><a>{{'CARTA' | translate}}(mg)</a></li>
                                                <li><a>{{'CARTB' | translate}}(mg)</a></li>
                                                <li><a>{{'CARTBCIS' | translate}}(mg)</a></li>
                                                <li><a>{{'CARTBEQ' | translate}}(mg)</a></li>
                                                <li><a>{{'CARTG' | translate}}(mg)</a></li>
                                                <li><a>{{'CRYPX' | translate}}(mg)</a></li>
                                                <li><a>{{'CRYPXA' | translate}}(mg)</a></li>
                                                <li><a>{{'CRYPXB' | translate}}(mg)</a></li>
                                                <li><a>{{'LUTN' | translate}}(mg)</a></li>
                                                <li><a>{{'LUTNZEA' | translate}}(mg)</a></li>
                                                <li><a>{{'LYNCPN' | translate}}(mg)</a></li>
                                                <li><a>{{'NEOX' | translate}}(mg)</a></li>
                                                <li><a>{{'NEUROSP' | translate}}(mg)</a></li>
                                                <li><a>{{'VIOLX' | translate}}(mg)</a></li>
                                                <li><a>{{'ZEA' | translate}}(mg)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="b4">
                                    <div class="col-xs-2 tabs-left-side-container-mul">
                                        <div class="col-xs-2 tabs-left-side-container-mul">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li><a>{{'VITE' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCPHA' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCPHB' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCPHD' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCPHG' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCTRA' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCTRB' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCTRD' | translate}}(mg)</a></li>
                                                <li><a>{{'TOCTRG' | translate}}(mg)</a></li>
                                                <li><a>{{'VITE_MINUS' | translate}}(mg)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /tabs -->

    </div>
</section>

