<div style="max-width: 500px;">
    <h5><strong>{{ key | translate }}</strong></h5>

    <div ng-show="!editMode" class="well"><strong>{{nutrient.nutrients[key].value}}</strong>&nbsp;{{nutrient.nutrients[key].nutrientType.unit | translate}}</div>

    <form class="form-horizontal form-block view-mode">
        <div class="small-field">

            <div class="form-group form-group-normalize">
                <div style="width: 100%;" class="col-sm-10">
                    <h5 class="form-control-static">{{ 'VALUE_DOCUMENTATION' | translate}}</h5>
                    <hr/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'VALUE' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control" data-ng-model="nutrient.nutrients[key].value" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'UNIT' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control" data-ng-model="nutrient.nutrients[key].unit">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'MATRIX_UNIT' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'VALUE_TYPE' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'ACQUISITION_TYPE' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'METHOD_TYPE' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group form-group-normalize">
                <div class="col-sm-10">
                    <h5 class="form-control-static">{{ 'STATISTICS' | translate}}</h5>
                    <hr/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'STANDARD_DEVIATION' |
                    translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'STANDARD_ERROR' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'MINIMUM' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control" data-ng-model="nutrient.nutrients[key].minValue">
                </div>
            </div>

            <div class="form-group form-group-normalize">
                <label class="col-sm-6 control-label">{{ 'MAXIMUM' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control" data-ng-model="nutrient.nutrients[key].maxValue">
                </div>
            </div>

            <div class="form-group form-group-normalize">
                <div class="col-sm-10">
                    <h5 class="form-control-static">{{ 'DATES' | translate}}</h5>
                    <hr/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'YEAR_OF_GENERATION' |
                    translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'DATE_OF_ENTRY' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">{{ 'DATE_OF_VALIDATION' | translate}}</label>

                <div style="width: 40%;" class="col-sm-4 col-value">
                    <input type="text" class="form-control">
                </div>
            </div>

        </div>
    </form>
</div>